{% extends "base.html" %}
{% load static %}

<head>
    {% block page_title %}
    <link rel="stylesheet" type="text/css" href="{% static 'catalogue/catalogue.css' %}">
    <title>Toys | T.F Ng Lun</title>
    {% endblock %}
</head>
{% block page_content %}
<div class="container flex-md-row mb-4 h-md-250 rounded">
    <div class="mb-2">
        <small>Catalogue / <a href="{% url 'toys_catalogue' %}">Toys</a></small>
    </div>
    <section class="jumbotron text-center">
        <div class="container" id="toys-main-header">
            <h1 class="jumbotron-heading">Toys/Jouets</h1>
            <p class="lead text-muted">We have toys from LEGO, Hot Wheels, Drones, Remote Controlled Racing Cars, Barbie
                dolls and many more.</p>
            <!-- TODO: ADD BACKGROUND IMAGE -->
            <p>TODO: ADD BACKGROUND IMAGE</p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for id, product in products.items %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <a href="{% url product.url_name %}">
                            <img class="card-img-top product-thumbnail" 
                                src="{% static product.product_image_path %}"
                                alt="{{ product.product_image_path }}">
                        </a>
                        <div class="card-body">
                            <a href="{% url product.url_name %}" class="text-dark"><h5 class="card-title">{{ product.product_name }}</h5></a>
                            <p class="card-text">Model: {{ product.model_no }}</p>
                            <a href="{% url product.url_name %}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}