{% extends "base.html" %}
{% load static %}
<head>
    {% block additional_static_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'contact/css/contact.css' %}">
    {% endblock %}

    {% block page_title %}
    <title>Merci | T.F Ng Lun</title>
    {% endblock %}
</head>
{% block page_content %}
<div class="container flex-md-row mb-4 h-md-250 rounded">
    <div class="d-flex justify-content-center">
        <h1>Merci pour votre message!</h1>
    </div>
    <div class="d-flex justify-content-center">
        <img src="{% static 'contact/img/email-received.png' %}" class="img-fluid" alt="Email Received Image">
    </div>
    <div class="d-flex justify-content-center pb-3">
        <h4>Nous avons reçu votre e-mail et nous vous contacterons très bientôt</h4>
    </div>
    <div class="d-flex justify-content-center">
        <div class="px-5">
            <a class="btn btn-outline-primary" href="{% url 'homepage_view' %}" role="button">Accueil</a>
        </div>
        <div class="px-5">
            <a class="btn btn-outline-primary" href="{% url 'products' %}" role="button">Produits</a>
        </div>
    </div>
</div>
{% endblock %}
