{% extends "base.html" %}
{% load static %}
<head>
    {% block additional_static_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/homepage.css' %}">
    {% endblock %}

    {% block page_title %}
    <title>T.F. Ng Lun</title>
    {% endblock %}
</head>

{% block page_content %}
<div class="container jumbotron flex-md-row mb-4 box-shadow h-md-250 text-white homepage-jumbotron-color">
    <div class="row no-gutters">
        <div class="col-md-6">
            <div class="card-body">
                <h1 id="homepage-header" class="display-4">
                    Bienvenue chez <br />
                    T.F. NG LUN
                </h1>
                <p class="lead my-3 pb-4">
                  Nous sommes une papêterie basée à Curepipe, Ile Maurice.
                  Nous vous proposons une gamme de produits tels que des stylos, cahiers,
                  classeurs, agenda en autres.
                </p>
                <p class="lead mb-0"><a href="{% url 'products' %}" class="text-white font-italic"><b>Cliquez-ici pour en savoir plus...</b></a></p>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-thumbnail" src="{% static 'homepage/img/shop.jpg' %}" alt="Card image cap">
        </div>
    </div>
</div>
<div class="container">
    <div class="pb-3 mb-3 border-bottom">
        <h2 class="h1 font-italic">Dernières nouvelles</h2>
        <small class="last-updated-timestamp">dernière mise à jour - 30/06/2020</small>
    </div>

    <!-- This is where you can add/delete notice -->
    <div class="notice-post border-bottom">
        <h3 class="notice-post-title">
            Vente scolaire</h3>
        <p>
            Chère clientèle, <br>
            We will be selling stationaries and books at the High School Sale in High School A.<br/>
            Please visit our booth when you are there!
        </p>
        <ul>
            <li>Date: Fri, 14 Aug 2020</li>
            <li>Time: 11:00 - 16:00</li>
            <li>Location: Booth 123A</li>
        </ul>
        <p>
            Magasin T.F Ng Lun
        </p>
    </div>

    <div class="notice-post">
        <h3 class="notice-post-title">
            Ganesh Chaturthi - Jour férié</h3>
        <p >
            Chère clientèle, <br>
            Nous tenons à vous informer que nous serons fermer le Samedi 22 Août 2020 en l'honneur de la fête Ganesh Chaturthi.<br/>
            Nous serons de retour le Lundi 24 Août 2020. Nous nous excusons pour tout inconvénient. Bonne fête!
            <br> Magasin T.F Ng Lun
        </p>
    </div>
</div>
{% endblock %}
