{% extends "base.html" %}
{% load static %}

<head>
    {% block additional_static_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/algolia-min.css"
        integrity="sha256-HB49n/BZjuqiCtQQf49OdZn63XuKFaxcIHWf0HNKte8=" crossorigin="anonymous">
    {% endblock %}

    {% block page_title %}
    <title>Produits | T.F Ng Lun</title>
    {% endblock %}
</head>
{% block page_content %}
<div class="container flex-md-row mb-4 h-md-250 rounded">
    <div class="page-header">
        <h1>Notre gamme de produits</h1>
    </div>

    <div class="d-flex justify-content-between">
        <div class="mb-2">
            <small><a class="text-dark" href="{% url 'products' %}">Produits</a></small>
        </div>
        <div id="search-box" class="d-inline-flex mb-2"></div>
    </div>

    <div class="conatiner bg-light">
        <div class="row">
            <div class="col-md-2 pt-4 pl-4">
                <h5 class="border-bottom">Catégorie</h5>
                <div id="refinement-list"></div>
            </div>
            <div class="col-md-10">
                <div class="album py-5 bg-light">
                    <div class="container">
                        <div id="hits"></div>
                    </div>
                    <div id="pagination"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row-reverse">
        <div id="powered-by"></div>
    </div>
</div>
{% endblock %}

{% block javascript_files %}
    <!-- AlgoliaSearch -->
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.0.0/dist/algoliasearch-lite.umd.js"
        integrity="sha256-MfeKq2Aw9VAkaE9Caes2NOxQf6vUa8Av0JqcUXUGkd0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.0.0/dist/instantsearch.production.min.js"
        integrity="sha256-6S7q0JJs/Kx4kb/fv0oMjS855QTz5Rc2hh9AkIUjUsk=" crossorigin="anonymous"></script>
    <script src="{% static 'products/js/algolia.js' %}"></script>
{% endblock %}
